body {
  font-family: 'Courier Prime', monospace;
  background-color: #ECFFDC;
}

p {
  font-family: 'Courier Prime', monospace;
  color: #000000;
  background-color: #AFE1AF;
  text-align: center;
}

h1 {
  font-family: 'Courier Prime', monospace;
  text-align: center;
  background-color: #8A9A5B
}

.navbar-brand {
  font-family: 'Courier Prime', monospace;
}

.nav-item {
  font-family: 'Courier Prime', monospace;
}

#title {
  font-family: 'Courier Prime', monospace;
  background-color:#50C878;
}

#response {
  font-family: 'Courier Prime', monospace;
  color: #000000;
  text-align: center;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
p.lead {
  color: #FFFFFF;
  background-color: #000000;
}

