body {
  font-family: 'Ubuntu', monospace;
}

p {
  font-family: 'Courier New', monospace;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

h1 {
  font-family: 'Courier New', monospace;
  text-align: center;
}

.navbar-brand {
  font-family: 'Courier New', monospace;
}

.nav-item {
  font-family: 'Courier New', monospace;
}

#title {
  font-family: 'Courier New', monospace;
}

#response {
  font-family: 'Courier New', monospace;
  color: #000000;
  text-align: center;
}
/*.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
p.lead {
  color: #FFFFFF;
  background-color: #000000;
}
/*
*/
